* {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: map-get($color, black);
}
body {
  color: map-get($color, gray);
  font-size: 14px;
  font-weight: 400px;
  font-family: "Noticia Text", sans-serif;
  line-height: 1.88;
}
.clearfix {
  clear: both;
}

