%jacket {
  .jacket {
    position: relative;
    .title-jacket {
      color: map-get($color, white);
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      bottom: 170px;
      left: 25%;
      &:hover {
        text-decoration: underline;
        transition: all 0.5s lenear;
      }
    }
    .jacket-item {
      color: map-get($color, white);
      font-size: 15px;
      position: absolute;
      bottom: 140px;
      left: 30%;
    }
  }
}
%content {
 .content {
    margin-bottom: 40px;
    .title-desc {
      font-weight: 600;
      color: map-get($color, black);
      padding: 10px 0 10px;
      &:hover {
        color: map-get($color, green);
      }
    }
    .price {
      font-size: 16px;
      .fat {
        color: map-get($color, yellow);
        padding-left: 5px;
        font-size: 13px;
      }
      .price-old {
        color: map-get($color, gray_4);
        padding-left: 5px;
        text-decoration: underline;
        font-size: 14px;
      }
    }
    .btn-button {
      padding: 7px 18px;
      color: map-get($color, gray_4);
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid map-get($color, gray_4);
      background:map-get($color, white);
      outline: none;
      cursor: pointer;
      margin-top: 20px;
      &:hover {
        background-color: map-get($color, green);
        color: map-get($color, white);
      }
      .fato:before {
        padding-right: 5px;
      }
    }
  }
}
%lates {
  .latest-desc {
    background: map-get($color, white);
    padding: 30px;
    .title-news {
      font-family: 'Noticia Text', serif;
      font-size: 20px;
      font-weight: bold;
      color: map-get($color, black);
      &:hover {
        color: map-get($color, green);
      }
    }
    .create {
      padding: 10px 0 15px;
      .fav:before {
        color: map-get($color, green);
        padding: 0 5px;
      }
    }
  }
}
%panel-title {
  font-size: 20px;
  color: map-get($color, black);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  &:before {
    background: map-get($color, black_3);
    bottom: -4px;
    content: "";
    width: 25px;
    height: 3px;
    left: 0;
    position: absolute;
    z-index: 9;
  }
}
%left {
  width: 30px;
  height: 30px;
  line-height: 25px;
  background: transparent;
  color: map-get($color, gray_5);
  font-size: 22px;
  background-color: map-get($color, white);
  border: 1px solid map-get($color, gray_5);
  .fa-angle-left:before {
    padding-left: 10px;
  }
  &:hover {
    background-color: map-get($color, green);
  }
}
%right {
  width: 30px;
  height: 30px;
  line-height: 25px;
  background: transparent;
  color: map-get($color, gray_5);
  font-size: 22px;
  background-color: map-get($color, white);
  border: 1px solid map-get($color, gray_5);
  .fa-angle-right:before {
    padding-left: 10px;
  }
  &:hover {
    background-color: map-get($color, green);
  }
}
%sub-menu {
  position: absolute;
  display: none;
  width: 200px;
  height: 230px;
  background-color: map-get($color, white);
  padding: 8px 14px;
  top: 100px;
  list-style: none;
  line-height: 2.8;
}
