$color:  (
  white: #ffffff,
  black: #000000,
  black_2: #fafafa,
  black_3: #181818,
  black_4: #333333,
  gray: #666666,
  gray_2: #d9d9db,
  gray_3: #f9f9f9,
  gray_4: #b2b2b2,
  gray_5: #cccccc,
  green: #7ab55c,
  yellow: #febd49
);
